<div>
  <table class="table col-sm-12" style="width: 100%;table-layout: fixed;">
    <thead class="thead-dark">

      <tr>
        <td>Id</td>
      <td>Imie</td>
      <td>Nazwisko</td>
      <td>Data</td>
      <td>mail rodzica</td>
      <td>pesel</td>
      <td></td>
      </tr>

    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
        <td>{{student.surname}}</td>
        <td>{{student.date}}</td>
        <td>{{student.emailParent}}</td>
        <td>{{student.pesel}}</td>

        <td>
          <button class="btn btn-outline-danger m-1" style="width:100%" (click)="onDeleteStudent(student.id)">Usuń Ucznia</button>
      </td>

      </tr>
    </tbody>
  </table>

</div>
