<div>
  <table class="table">
    <thead class="thead-dark">

      <tr>
        <td>Id</td>
      <td>Imie</td>
      <td>Nazwisko</td>
      <td>Data</td>
      <td>mail rodzica</td>
      <td>pesel</td>
      <td>akcje</td>
      </tr>

    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
        <td>{{student.surname}}</td>
        <td>{{student.date}}</td>
        <td>{{student.emailParent}}</td>
        <td>{{student.pesel}}</td>
        <button class="btn btn-outline-success m-1" style="width:48%"(click)="onShowGrades(student)">Oceny Ucznia</button>
        <button type="button" class="btn btn-outline-danger m-1" style="width:48%">Usuń Ucznia Z Klasy</button>
      </tr>
    </tbody>
  </table>

</div>
