<div>
  <table class="table col-sm-12" style="width: 100%;table-layout: fixed;">
    <thead class="thead-dark">

      <tr>

      <td>Imie</td>
      <td>Nazwisko</td>
      <td>Data</td>
      <td>mail rodzica</td>
      <td>pesel</td>
      <td></td>
      <td></td>
        <td></td>
      </tr>

    </thead>
    <tbody>
      <tr *ngFor="let student of students">

        <td>{{student.name}}</td>
        <td>{{student.surname}}</td>
        <td>{{student.date}}</td>
        <td>{{student.emailParent}}</td>
        <td>{{student.pesel}}</td>

        <td>
          <button class="btn btn-outline-success m-1" style="width:100%" (click)="onAddGrade(student.id)">Dodaj ocenę</button>
        </td>
        <td><button class="btn btn-outline-warning m-1" (click)="onEditStudent(student)" type="button">Edytuj Ucznia</button></td>
        <td><button class="btn btn-outline-success m-1" style="width:100%"(click)="onShowGrades(student)">Oceny Ucznia</button></td>
        <td><button type="button" class="btn btn-outline-danger m-1" (click)="onDeleteFromClass(student)" style="width:100">Usuń  Z Klasy</button></td>
      </tr>
    </tbody>
  </table>

</div>
